body {
    background-image: url("https://images.wallpaperscraft.com/image/line_glitter_glare_dark_95089_1920x1200.jpg");
    background-repeat: no-repeat;
}

.Me {
    max-width: 80%;
    height: auto;
    border-radius: 50%
}

.linkedin-icon {
    max-width: 50%;
    height: auto;
}

.github-icon {
max-width: 50%;
height: auto;
}

 a img.linkedin-icon:hover {
    outline: white solid 1px;
}

a img.github-icon:hover {
    outline: white solid 1px;

}

@media only screen and (max-width: 1000px) {
    body {
    background-color: black;
    }

    .github-icon {
        max-width: 100%;
        height: auto;
    }

    .linkedin-icon {
        max-width: 100%;
        height: auto;
    }
}